.print {
    border: 1px solid #eee;
    padding: 2rem;
}
/*
.noprint {
    display: none;
}*/

.print-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.print-content {
    padding-left: 8px;
    font-size: 17px;
    line-height: 3
}

.print-img {
    height: 30px;
}

.details {
    color: black;
    font-weight: 500;

}